<div ng-controller="samplefreezeCtrl">

	<style>
		.fixedTable .table {
			background-color: white;
			width: 100% !important;
		}

		.fixedTable .table tr td,
		.fixedTable .table tr th {
			min-width: 100px;
			width: 100px;
		}

		.fixedTable-body {
			overflow: scroll;
			width: 65%;
			height: 35vh;
			float: left;
		}

		.fixedTable-sidebar tr td {
			min-width: 33.33% !important;
			width: 33.33% !important
		}

		.fixedTable-sidebar {
			width: 35%;
			height: 35vh;
			float: left;
			overflow: hidden;
		}

		.fixedTable-header {
			width: calc(65% - 17px) !important;
			height: 38px;
			margin-left: 35%;
			overflow: hidden;
		}

		.fixedTable-sidebar-header {
			width: 35%;
			height: 38px;
			float: left;
			overflow: hidden;
		}

		.fixedTable-sidebar-header th {
			min-width: 33.33% !important;
			width: 33.33% !important;
		}
	</style>

	<h1>
		<span style="float: left; width: 50px; ">
			<i ng-if="$root.isLoading" class="fa fa-cog fa-spin"></i>
			<i ng-if="!$root.isLoading" class="fa fa-snowflake-o"></i>
		</span> Sample Freeze Panes
	</h1>

	<tm1-ui-element-list tm1-instance="dev" tm1-dimension="Account" tm1-subset="Net Income" tm1-attributes="Description" ng-model="lists.accounts"></tm1-ui-element-list>

	<div class="row">
		<div class="col-lg-3 col-md-6">
			<tm1-ui-subnm tm1-instance="dev" tm1-dimension="Year" tm1-subset="All Years" tm1-default-element="2016" tm1-select-only="true"
			 ng-model="page.year"></tm1-ui-subnm>
		</div>
		<div class="col-lg-3 col-md-6">
			<tm1-ui-subnm tm1-instance="dev" tm1-dimension="Region" tm1-subset="Default" tm1-select-only="true" ng-model="page.region"></tm1-ui-subnm>
		</div>
		<div class="col-lg-3 col-md-6">
			<tm1-ui-subnm tm1-instance="dev" tm1-dimension="Department" tm1-subset="Default" tm1-select-only="true" ng-model="page.department"></tm1-ui-subnm>
		</div>
	</div>

	<div class="row">

		<div class="col-md-12">

			<div class="panel panel-default">

				<div class="panel-heading">
					<span> Table with fixed rows and columns </span>
				</div>

				<div class="panel-body">

					<div class="row">
						<div class="col-lg-3 col-md-6">
							<input type="text" ng-model="options.filter" class="form-control" placeholder="Search Account..." ng-change="table.refresh()"></input>
						</div>

						<div class="col-lg-3 col-md-6">
							<div class="alert alert-info">Displaying
								<strong>{{filtered.length}}</strong> of
								<strong>{{page.accounts.length}}</strong> accounts.</div>
						</div>

						<div class="btn-group col-lg-3 col-md-6" role="group">
								<button class="btn btn-default" ng-class="{'active': options.showQ1}" ng-click="options.showQ1=!options.showQ1" ng-init="options.showQ1=true">Q1</button>
								
								<button class="btn btn-default" ng-class="{'active': options.showQ2}" ng-click="options.showQ2=!options.showQ2" ng-init="options.showQ2=true">Q2</button>
								
								<button class="btn btn-default" ng-class="{'active': options.showQ3}" ng-click="options.showQ3=!options.showQ3" ng-init="options.showQ3=true">Q3</button>
								
								<button class="btn btn-default" ng-class="{'active': options.showQ4}" ng-click="options.showQ4=!options.showQ4" ng-init="options.showQ4=true">Q4</button> 
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">

							<div id="tablescroll" class="fixedTable">
								<header class="fixedTable-sidebar-header">
									<table class="table table-striped">
										<thead>
											<tr class="alert alert-info">
												<th class="tm1-ui-sortable" ng-class="table.sortClass('key')" ng-click="table.sort('key')">Account</th>
												<th>All Months</th>
											</tr>
										</thead>
									</table>
								</header>

								<header class="fixedTable-header">
									<table class="table table-striped">
										<thead>
											<tr class="alert alert-info">
													<th ng-if="options.showQ1" ng-repeat="month in q1" class="text-center" >
															{{month}}
													</th>
													<th ng-if="options.showQ2" ng-repeat="month in q2" class="text-center" >
															{{month}}
													</th>
													<th ng-if="options.showQ3" ng-repeat="month in q3" class="text-center" >
															{{month}}
													</th>
													<th ng-if="options.showQ4" ng-repeat="month in q4" class="text-center" >
															{{month}}
													</th>
											</tr>
										</thead>
									</table>
								</header>

								<aside class="fixedTable-sidebar">
									<table class="table table-striped">
										<tbody>
											<tr ng-repeat="row in filtered = (table.data())">
												<td>{{row.alias}}</td>
												<td>
													<tm1-ui-dbr-read-only tm1-instance="dev" tm1-cube="General Ledger" tm1-data-decimal="0" tm1-read-only="true" tm1-elements="Actual,{{page.year}},All Months,Local,{{page.region}},{{page.department}},{{row.key}},Amount"></tm1-ui-dbr-read-only>
												</td>
											</tr>
										</tbody>
									</table>
								</aside>

								<div class="fixedTable-body">
									<table class="table table-striped">
										<tbody>
											<tr ng-repeat="row in filtered = (table.data())">
												<td ng-show="false">{{row.alias}}</td>
												<td ng-if="options.showQ1" ng-repeat="month in q1" class="text-right">
													<tm1-ui-dbr-read-only tm1-instance="dev" tm1-cube="General Ledger" tm1-data-decimal="0" tm1-read-only="true" tm1-elements="Actual,{{page.year}},{{month}},Local,{{page.region}},{{page.department}},{{row.key}},Amount"></tm1-ui-dbr-read-only>
												</td>
												<td ng-if="options.showQ2" ng-repeat="month in q2" class="text-right">
													<tm1-ui-dbr-read-only tm1-instance="dev" tm1-cube="General Ledger" tm1-data-decimal="0" tm1-read-only="true" tm1-elements="Actual,{{page.year}},{{month}},Local,{{page.region}},{{page.department}},{{row.key}},Amount"></tm1-ui-dbr-read-only>
												</td>
												<td ng-if="options.showQ3" ng-repeat="month in q3" class="text-right">
													<tm1-ui-dbr-read-only tm1-instance="dev" tm1-cube="General Ledger" tm1-data-decimal="0" tm1-read-only="true" tm1-elements="Actual,{{page.year}},{{month}},Local,{{page.region}},{{page.department}},{{row.key}},Amount"></tm1-ui-dbr-read-only>
												</td>
												<td ng-if="options.showQ4" ng-repeat="month in q4" class="text-right">
													<tm1-ui-dbr-read-only tm1-instance="dev" tm1-cube="General Ledger" tm1-data-decimal="0" tm1-read-only="true" tm1-elements="Actual,{{page.year}},{{month}},Local,{{page.region}},{{page.department}},{{row.key}},Amount"></tm1-ui-dbr-read-only>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">

							<div>
								<div class="btn-group" role="group">
									<button class="btn btn-default" ng-model="page.gotofirstpage" ng-click="firstPage()">First</button>
									<button class="btn btn-default" ng-click="table.previous()">
										<i class="fa fa-angle-left"></i>
									</button>
									<span class="btn btn-default" style="width: 70px;">{{table.page()}} of {{table.pages()}}</span>
									<button class="btn btn-default" ng-click="table.next()">
										<i class="fa fa-angle-right"></i>
									</button>
									<button class="btn btn-default" ng-model="page.gotolastpage" ng-click="lastPage()">Last</button>
								</div>
								<div class="btn-group pull-right" role="group">
									<button class="btn btn-default" ng-class="{'active': table.isPageSize(10)}" ng-click="table.pageSize(10)">10</button>
									<button class="btn btn-default" ng-class="{'active': table.isPageSize(20)}" ng-click="table.pageSize(20)">20</button>
									<button class="btn btn-default" ng-class="{'active': table.isPageSize(30)}" ng-click="table.pageSize(30)">30</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>

</div>